<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Rice Hall Occupancy</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Rice Hall Rooms</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Open Rooms</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Components</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">

                <div class="intro-heading">Welcome To The Rice Hall Study Room Database</div>
                <a href="#services" class="page-scroll btn btn-xl">Where Should I Study?</a>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Open Rooms</h2>
                    <h3 class="section-subheading text-muted">See which study nooks are open.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-barcode fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Room Number</h4>
                    <h5> 
                        {% for room in rooms %}
                            <div> {{ room.nodeId }} </div>
                            <br>
                        {% endfor %} 
                    </h5>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-building-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Room Location</h4>
                    <h5> 
                        {% for room in rooms %}
                            <div> {{ room.nodeFloor }} </div>
                            <br>
                        {% endfor %} 
                    </h5>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Occupancy Status</h4>
                    <h5> 
                        {% for room in rooms %}
                            <div> 
                                {% if not room.vacant==0 %}
                                    <i class="fa fa-check-circle fa-lg" style="color: green"></i>
                                {% else %}
                                    <i class="fa fa-minus-circle fa-lg" style="color: red"></i>
                                {% endif %}
                            </div>
                            <br>
                        {% endfor %} 
                    </h5>
                </div>
            </div>
            <a href="javascript:history.go(0)" class="page-scroll btn btn-xl col-lg-12 text-center">Refresh The List</a>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Components</h2>
                    <h3 class="section-subheading text-muted">What makes the system tick?</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../static/img/portfolio/PIR.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>PIR Sensor</h4>
                        <p class="text-muted">Infrared Motion Detector</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../static/img/portfolio/CC3200.png" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>CC3200 Launchpad</h4>
                        <p class="text-muted">WiFi-enabled Microcontroller </p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                                <i class="fa fa-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="../static/img/portfolio/AWS.gif" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Amazon Web Services Instance</h4>
                        <p class="text-muted">Web Server</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">The timeline leading to the Rice Hall Occupancy project.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../static/img/about/NumberOne.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>November 2011</h4>
                                    <h4 class="subheading">Rice Hall Opens</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">After almost two and a
                                    half years of construction, Rice Hall
                                    finally opens its doors to the Engineering
                                    School and greater U.Va Community. Students
                                    in the E-School quickly discover the
                                    greatness of Einstein Bagels and the number
                                    of study spaces.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../static/img/about/NumberTwo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 2013</h4>
                                    <h4 class="subheading">A Problem is Discovered</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Despite the number of
                                    study spaces, finding an open spot took a
                                    lot of physical time and effort. Four
                                    students (Jonathon Bloncheck, Vinay
                                    Dandekar, Shiv Sinha, and Anish Simhal)
                                    decided to tackle this problem using an embedded system. Although they were unable to finish the project due to time, the four discovered that the problem was solvable. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../static/img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2014</h4>
                                    <h4 class="subheading">The Batton is Passed</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Realizing the
                                    usefulness of this project, a different
                                    group of four students took the Rice Hall
                                    initiative under their wings as part of
                                    their capstone project. Although the idea
                                    came from the previous team, a different
                                    approach (using varying development boards and protocols) was taken in hopes of making the system more expandable and efficient. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="../static/img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2014</h4>
                                    <h4 class="subheading">A System is Born</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">At the end of the
                                    semester, a functional system emerged.
                                    Among the most important characteristics of
                                    the finished system is the ease at which the
                                    system can be expanded. The hope is that,
                                    with support from the U.Va Engineering
                                    School and Rice Hall, the system will be
                                    integrated throughout the building.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image" link="#fff"> 
                                <a href="https://github.com/mantazer/Occupancy-Sensing-and-Visualization" style="color: #ffffff">
                                    <h4> Contribute
                                        <br>To The
                                        <br>Project!</h4>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">The legends who made this project happen.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="../static/img/team/muntaser.jpg" class="img-responsive img-circle" alt="">
                        <h4>Muntaser Ahmed</h4>
                        <p class="text-muted">The Hacker</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:mra8kf@virginia.edu?Subject=Rice%20Hall%20Project" alt="E-mail Muntaser"><i class="fa fa-envelope"></i></a>
                            </li>
                            <li><a href="http://muntaserahmed.com/"  alt="Muntaser's Website"><i class="fa fa-laptop"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/muntaserahmed" alt="Muntaser's LinkedIn"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="../static/img/team/chad.jpg" class="img-responsive img-circle" alt="">
                        <h4>Chad Becker</h4>
                        <p class="text-muted">Embedded Systems Guru</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:cwb6vh@virginia.edu?Subject=Rice%20Hall%20Project" alt="E-mail Chad"><i class="fa fa-envelope"></i></a>
                            </li>
                            <li><a href="https://github.com/cwb6vh" alt="Chad's GitHub"><i class="fa fa-github-alt"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/pub/chad-becker/76/636/aa1" alt="Chad's LinkedIn"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="../static/img/team/usman.jpg" class="img-responsive img-circle" alt="">
                        <h4>Usman Chaudhry</h4>
                        <p class="text-muted">Electronics Wizard</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:umc2ju@virginia.edu?Subject=Rice%20Hall%20Project" alt="E-mail Usman"><i class="fa fa-envelope"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/pub/usman-m-chaudhry/83/194/267" alt="Usman's LinkedIn"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member">
                        <img src="../static/img/team/gautam.jpg" class="img-responsive img-circle" alt="">
                        <h4>Gautam Kanumuru</h4>
                        <p class="text-muted">The Wildcard</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="mailto:vrk7bp@virginia.edu?Subject=Rice%20Hall%20Project" alt="E-mail Gautam"><i class="fa fa-envelope"></i></a>
                            </li>
                            <li><a href="http://gautamk.us"><i class="fa fa-laptop" alt="Gautam's Website"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/pub/gautam-kanumuru/61/931/7a3" alt="Gautam's LinkedIn"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">The Rice Hall Occupancy Project
                    was finished in the Fall of 2014 as part of a capstone project. The team would like to thank Dr. Mircea Stan, Dr. Joanne Dugan, and Dr. Harry Powell for the help and support they provided throughout the semester. Although the project was spearheaded by the four team members above, there were plenty more behind the scenes that made all of this possible.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="http://virginia.edu">
                        <img src="../static/img/logos/uva.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-6 seasLogo">
                    <a href="http://seas.virginia.edu">
                        <img src="../static/img/logos/seas.gif" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; University of Virginia 2014</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="https://github.com/mantazer/Occupancy-Sensing-and-Visualization"><i class="fa fa-github-alt"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->

    <!-- Portfolio Modal 1 -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>PIR Sensor</h2>
                            <p class="item-intro text-muted">Detecting Motion</p>
                            <img class="img-responsive img-centered" src="../static/img/portfolio/PIRSensor.jpg" alt="">
                            <br>
                            <p>We selected Parallax's PIR sensor (Rev B) for their extensive field of view, ideal operating voltage conditions, and ease of integration. Parallax's PIR sensors can detect motion up to 30 feet away and have an approximately 90 degree field of view. Additionally, they operate in a voltage range of 3V to 6V, which makes them ideal for integrating as digital inputs with CC3200. We are currently operating our PIR sensors at 4.5V by using 3 AAA batteries in a series formation. Whenever motion is detected by PIR sensors, they output a 4.5V signal which is passed on as a digital input to the CC3200.</p>
                            <!-- <p>
                                <strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p> -->
                            <ul class="list-inline">
                                <li> <a href="http://www.parallax.com/product/555-28027"> <strong> More Information Here </strong> </a> </li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>CC3200 Launchpad</h2>
                            <p class="item-intro text-muted">Embedded Board with Internet Stack</p>
                            <img class="img-responsive img-centered" src="../static/img/portfolio/Launchpad.png" alt="">
                            <p>The SimpleLink Wi-Fi CC3200 LaunchPad evaluation kit is a development platform for the CC3200 wireless microcontroller (MCU), the industry’s first single-chip programmable MCU with built-in Wi-Fi connectivity.  The board features on-board emulation using FTDI device and includes sensors for a full out-of-the-box experience. This board can be directly connected to a PC using software development platforms including CCS and IAR. </p>
                            <p>We chose to use the CC3200 because our project requires sending environmental motion data from a peripheral sensor to a web server via HTTP across WiFi. The CC3200 takes care of the internet protocol stack layers below the application layer, which allowed us to focus on integrating the PIR sensor with the CC3200 and sending data to the web server rather than having to focus on the low-level connections and handshakes needed to accomplish this. It also allowed us to spend time developing a website and mobile application for the user to view the data in real time.</p>
                            <ul class="list-inline">
                                <li> <a href="http://www.ti.com/tool/cc3200-launchxl"> <strong> More Information Here </strong> </a> </li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 3 -->
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Amazon Web Services Server</h2>
                            <p class="item-intro text-muted">Central Database and Server</p>
                            <br>
                            <br>
                            <br>
                            <br>
                            <img class="img-responsive img-centered" src="../static/img/portfolio/AWS.png" alt="">
                            <br>
                            <br>
                            <br>
                            <br>
                            <p>Amazon Web Services is the premier cloud service,
                            with estimates that approximately 1% of all internet
                            traffic runs through Amazon's servers. Because of
                            the team's past experience using Amazon Web
                            Services, as well as its price and convenience, we
                            decided to setup both our web and application server
                            on an instance in Amazon's datacenters. </p>
                            <p>As with any significant application, a backend server is a necessity. Since we did not have quick access to the servers from the Electrical Engineering Department within U.Va (and since these servers often have to be programmed in PHP), we decided to use Amazon Web Services.</p>
                            <ul class="list-inline">
                                <li> <a href="http://aws.amazon.com/what-is-aws/?rl=1st_d_1/"> <strong> More Information Here </strong> </a> </li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../static/js/classie.js"></script>
    <script src="../static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="../static/js/jqBootstrapValidation.js"></script>
    <script src="../static/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/js/agency.js"></script>

</body>

</html>
